{% extends "base.html" %}
 
{% block content %}
    <h1>Hi, {{ current_user.username }}</h1>
    {% if current_user.is_anonymous%}
    <p><a href="{{ url_for('auth.login') }}">Login</a> or
    <a href="{{ url_for('auth.register') }}">Register</a></p>
    {% else %}
    <a href="{{ url_for('posts.create_post') }}">Create Post</a>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">←</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">→</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}